Source/Branch/全球通大厦停车场/ECardInterface/Service References/ECardService/NightParking_20131226.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddParkingHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parkingSpaceApplicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="inTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="outTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="surplusTime" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="info1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="info2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddParkingHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddParkingHistoryResult" type="tns:ResultMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ParkingLotFullSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIDList" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ParkingLotFullSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParkingLotFullSMSResult" type="tns:ResultMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddParkingHistorySoapIn">
    <wsdl:part name="parameters" element="tns:AddParkingHistory" />
  </wsdl:message>
  <wsdl:message name="AddParkingHistorySoapOut">
    <wsdl:part name="parameters" element="tns:AddParkingHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ParkingLotFullSMSSoapIn">
    <wsdl:part name="parameters" element="tns:ParkingLotFullSMS" />
  </wsdl:message>
  <wsdl:message name="ParkingLotFullSMSSoapOut">
    <wsdl:part name="parameters" element="tns:ParkingLotFullSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="NightParkingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddParkingHistory">
      <wsdl:input message="tns:AddParkingHistorySoapIn" />
      <wsdl:output message="tns:AddParkingHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParkingLotFullSMS">
      <wsdl:input message="tns:ParkingLotFullSMSSoapIn" />
      <wsdl:output message="tns:ParkingLotFullSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NightParkingSoap" type="tns:NightParkingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddParkingHistory">
      <soap:operation soapAction="http://tempuri.org/AddParkingHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkingLotFullSMS">
      <soap:operation soapAction="http://tempuri.org/ParkingLotFullSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NightParkingSoap12" type="tns:NightParkingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddParkingHistory">
      <soap12:operation soapAction="http://tempuri.org/AddParkingHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkingLotFullSMS">
      <soap12:operation soapAction="http://tempuri.org/ParkingLotFullSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NightParking">
    <wsdl:port name="NightParkingSoap" binding="tns:NightParkingSoap">
      <soap:address location="http://localhost:8080/WebServices/NightParking.asmx" />
    </wsdl:port>
    <wsdl:port name="NightParkingSoap12" binding="tns:NightParkingSoap12">
      <soap12:address location="http://localhost:8080/WebServices/NightParking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>