Source/Branch/全球通大厦停车场/ECardInterface/Service References/ECardServiceClient/ParkWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParkWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IParkWebService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ralid-bruce/ParkWeb/Ralid.Park.WebService.ParkWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ralid-bruce/ParkWeb/Ralid.Park.WebService.ParkWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParkWebService_SaveSheet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSheet" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_SaveSheet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSheetResponse" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_SheetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SheetStatus" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_SheetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SheetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IParkWebService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IParkWebService">
    <wsdl:operation name="SaveSheet">
      <wsdl:input wsaw:Action="http://tempuri.org/IParkWebService/SaveSheet" message="tns:IParkWebService_SaveSheet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParkWebService/SaveSheetResponse" message="tns:IParkWebService_SaveSheet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SheetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IParkWebService/SheetStatus" message="tns:IParkWebService_SheetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParkWebService/SheetStatusResponse" message="tns:IParkWebService_SheetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IParkWebService/DeleteEmployee" message="tns:IParkWebService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParkWebService/DeleteEmployeeResponse" message="tns:IParkWebService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IParkWebService" type="tns:IParkWebService">
    <wsp:PolicyReference URI="#WSHttpBinding_IParkWebService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveSheet">
      <soap12:operation soapAction="http://tempuri.org/IParkWebService/SaveSheet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheetStatus">
      <soap12:operation soapAction="http://tempuri.org/IParkWebService/SheetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IParkWebService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParkWebService">
    <wsdl:port name="WSHttpBinding_IParkWebService" binding="tns:WSHttpBinding_IParkWebService">
      <soap12:address location="http://ralid-bruce/ParkWeb/Ralid.Park.WebService.ParkWebService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://ralid-bruce/ParkWeb/Ralid.Park.WebService.ParkWebService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>